name: release

on: workflow_dispatch

jobs:
  tests:
    uses: ./.github/workflows/tests.yml
  release:
    name: Release a new version
    runs-on: ubuntu-latest
    needs: [tests]

    steps:
      - name: Check out repository
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.ACCESS_TOKEN }}
          fetch-depth: 0

      - name: Set up Python 3.9.13
        uses: actions/setup-python@v4
        with:
          python-version: 3.9.13

      - name: Set up PDM
        uses: pdm-project/setup-pdm@v3
        with:
          python-version: 3.9.13
          architecture: x64
          prerelease: true
          enable-pep582: true

      - name: Temporarily disable 'include administrators' default branch protection
        uses: benjefferies/branch-protection-bot@master
        if: always()
        with:
          access_token: ${{ secrets.ACCESS_TOKEN }}
          branch: ${{ github.event.repository.default_branch }}
          enforce_admins: false

      - name: Find new version
        id: cz
        uses: commitizen-tools/commitizen-action@master
        with:
          github_token: ${{ secrets.ACCESS_TOKEN }}
          push: false
          commit: false
          changelog: false

      - name: Check out repository
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.ACCESS_TOKEN }}
          fetch-depth: 0

      - name: Get current date
        id: date
        run: echo  "{date}={$(date +'%Y-%m-%d')}" >> $GITHUB_OUTPUT

      - name: Update .zenodo.json date
        run: echo "`jq '.publication_date="${{ steps.date.outputs.date }}"' .zenodo.json`" > .zenodo.json

      - name: Update .zenodo.json url
        run: echo "`jq '.related_identifiers[0].identifier="https://github.com/ieeh-tu-dresden/powerfactory-utils/tree/${{ steps.cz.outputs.version }}"' .zenodo.json`" > .zenodo.json

      - name: Bump version and create changelog
        uses: commitizen-tools/commitizen-action@master
        with:
          github_token: ${{ secrets.ACCESS_TOKEN }}
          changelog_increment_filename: body.md

      - name: Restore 'include administrators' default branch protection
        uses: benjefferies/branch-protection-bot@master
        if: always()
        with:
          access_token: ${{ secrets.ACCESS_TOKEN }}
          branch: ${{ github.event.repository.default_branch }}
          enforce_admins: ${{ steps.disable_include_admins.outputs.initial_status }}

      - name: Cache PDM __pypackages__
        uses: actions/cache@v3
        id: cache
        with:
          path: __pypackages__
          key: pdm-${{ hashFiles('**/pdm.lock') }}
          restore-keys: |
            pdm-${{ hashFiles('**/pdm.lock') }}

      - name: Build Python packages
        run: pdm build

      - name: Publish Python packages
        run: pdm build -r pypi --username __token__ --password $PYPI_TOKEN
        env:
          PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}

      - name: Create release
        uses: softprops/action-gh-release@v1
        with:
          body_path: body.md
          tag_name: ${{ env.REVISION }}
          files: |
            dist/*.whl
            dist/*.tar.gz
            LICENSE
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
